@use '../abstracts';

.logo {
    display: flex;
    align-items: center;
    column-gap: 14px;

    @include abstracts.breakpoint(md) {
        column-gap: 10px;
    }

    &__img {
        @include abstracts.breakpoint(md) {
            width: 26px;
        }
    }

    &__text {
        font-size: 2.2rem;
        font-weight: 700;
        line-height: 145.455%;

        @include abstracts.breakpoint(md) {
            font-size: 1.8rem;
            line-height: 144.444%;
        }
    }
}
