*,
::after,
::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    color: var(--text-color);
    font-family: Gordita, sans-serif;
    background: var(--body-bg-color);
}

a {
    color: inherit;
    text-decoration: none;
}

button,
a,
label {
    -webkit-tap-highlight-color: transparent;
}

button,
select,
input,
textarea {
    padding: 0;
    margin: 0;
    font-family: inherit;
    color: inherit;
}

button,
input {
    border: none;
    outline: none;
    background: transparent;
}

img {
    display: block;
}

.icon {
    filter: var(--icon-color);
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 2);
    -webkit-box-orient: vertical;
    overflow: hidden;
}
